.center {
    margin: 0 10vw 0 10vw;
    position: relative;
    text-align: center;
}

.img {
    max-width: 80vw;
    max-height: 80vh;
    border-radius: 15px;
}

.boton {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 1em 0 1em 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.boton:disabled {
  pointer-events: none;
}

.boton:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.boton:active {
  box-shadow: none;
  transform: translateY(0);
}

.lds {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds div {
  animation: lds 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: black;
  margin: -4px 0 0 -4px;
}
.lds div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
